#lists

In [2]:
my_list=["Sizan",12,"Raut"]

print(my_list)

['Sizan', 12, 'Raut']

#There are two types of list 1D and 2D

In [4]:
#2d lists
mix_list = [[1,2,3,4],[2,3,4],["A"]]
mix_list

[[1, 2, 3, 4], [2, 3, 4], ['A']]

Indexing

In [6]:
num = [1,2,3,4,56,7]
print(num[1:3])

[2, 3]

In [7]:
#slicing
num = [1,2,3,4,5,6]
print(num[-3:-1])
print(num[0:5:2])
print(num[:5])
print(num[0:])
print(num[::2])
print(num[-5:-1:2])

[4, 5]
[1, 3, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[2, 4]

In [8]:
num = [1,2,3,4,56,7]
print(num[2])

3

In [9]:
num[2]==3#conditioinal filtering

True

In [10]:
mix_list = [[1,2,3,4],[2,3,4],["A"]]
print(mix_list[0])

[1, 2, 3, 4]

In [11]:
listin = [[1,2,3,4],
       [2,3,4,5],
       [4,5,6,7]]
print (listin[0][2])

3

In [12]:
#reversing a list
a= [1,2,3,4,5,6,7]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [13]:
a= [1,2,3,4,5,6,7]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [14]:
#Inserting data and Deleting in a list
'''
for inserting
-------------
append(value)
insert(Index,value)'''
'''
for deleting
remove(value)
pop(index)
del[index/slice]'''

'\nfor deleting\nremove(value)\npop(index)\ndel[index/slice]'

In [15]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
cars.append("Mercedes")
print(cars)

['Ford', 'Toyota', 'Hyuandai', 'Kia', 'Honda', 'Mercedes']

In [16]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
cars.insert(1,"Mercedes")
print(cars)

['Ford', 'Mercedes', 'Toyota', 'Hyuandai', 'Kia', 'Honda']

In [17]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
cars.remove("Toyota")
print(cars)

['Ford', 'Hyuandai', 'Kia', 'Honda']

In [18]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
cars.pop(2)
print(cars)

['Ford', 'Toyota', 'Kia', 'Honda']

In [19]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
del cars[1:3]
print(cars)

['Ford', 'Kia', 'Honda']

In [20]:
cars =["Ford","Toyota","Hyuandai","Kia","Honda"]
del cars[0:4:2]
print(cars)

['Toyota', 'Kia', 'Honda']

In [21]:
num = [1,2,3,4,5,6,12,6,5,13]
len(num)

10

In [22]:
#Arranging a list in ascending order
num.sort()
print(num)

name= ["Ram","Shyam","Hari"]
name.sort()
print(name)

[1, 2, 3, 4, 5, 5, 6, 6, 12, 13]
['Hari', 'Ram', 'Shyam']

In [23]:
num.reverse()
print(num)

[13, 12, 6, 6, 5, 5, 4, 3, 2, 1]

Tuple

empty = ()
type(empty)

In [26]:
number = (1,2,3,4)
number
type(number)

tuple

In [27]:
no = 1,2,3,4
type(no)

tuple

In [28]:
cars =("Ford","Toyota","Hyuandai","Kia","Honda")
cars[1:4]
len(cars)

5

#Dictionary

In [30]:
empty = {}
type(empty)

dict

In [31]:
#key and value pair

In [32]:
data = {
    "name":"Ram",
    "age":30,
    "city":"Kathmandu"
    
}
data

{'name': 'Ram', 'age': 30, 'city': 'Kathmandu'}

In [33]:
data = {
    "name":["Ram","Shyam","Hari"],
    "age":[30,25,28],
    "city":"Kathmandu"
    
}
data

{'name': ['Ram', 'Shyam', 'Hari'], 'age': [30, 25, 28], 'city': 'Kathmandu'}

In [34]:
#JSON data
cars = [
    {
        "name":"Honda",
        "model":"city"
    },
    {
        "name":"Hyundai",
        "model":"Creta"
    }
]
print(cars)

[{'name': 'Honda', 'model': 'city'}, {'name': 'Hyundai', 'model': 'Creta'}]

In [35]:
#extracting values in a dictionary in dictionary
data["name"]

['Ram', 'Shyam', 'Hari']

In [36]:
#Adding and updating value in a dictionary
data = {
    "name":"Ram",
    "age":30,
    "city":"Kathmandu"
    
}
data

{'name': 'Ram', 'age': 30, 'city': 'Kathmandu'}

In [37]:
#Adding in a dictionary
data["number"]=980774431

In [38]:
print(data)

{'name': 'Ram', 'age': 30, 'city': 'Kathmandu', 'number': 980774431}

In [39]:
#updating in a list
data["number"]=9800000
data

{'name': 'Ram', 'age': 30, 'city': 'Kathmandu', 'number': 9800000}

In [40]:
config = {
    "theme":"dark",
    "font_size":13
}
config

{'theme': 'dark', 'font_size': 13}

In [41]:
#deleting in a dictionary
del config["font_size"]

In [42]:
config

{'theme': 'dark'}

In [43]:
config = {
    "theme":"dark",
    "font_size":13
}
config.pop("font_size")

13

In [44]:
print(config)

{'theme': 'dark'}

In [45]:
print(data.keys())

dict_keys(['name', 'age', 'city', 'number'])

In [46]:
print(data.values())

dict_values(['Ram', 30, 'Kathmandu', 9800000])

In [47]:
print(data.items())

dict_items([('name', 'Ram'), ('age', 30), ('city', 'Kathmandu'), ('number', 9800000)])

In [48]:
for key in data.keys():
    print(key)

name
age
city
number

In [49]:
for value in data.values():
    print(value)

Ram
30
Kathmandu
9800000

In [50]:
for item in data.items():
    print(item)

('name', 'Ram')
('age', 30)
('city', 'Kathmandu')
('number', 9800000)

In [51]:
for key,value in data.items():
    print(f"{key}:{value}")

name:Ram
age:30
city:Kathmandu
number:9800000

Sets(Mutable data structure)

In [53]:
num = [1,1,2,3,4,5,6]
my_set = set(num)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [54]:
type(my_set)

set

In [55]:
#we cannot define empty set
#for example
n = {}
type(n)

dict

In [56]:
#for creating an empty set we need to use se() function
empty_set = set()
type(empty_set)

set

In [57]:
#Set removes duplicate data and arrange in ascending order
num = [1,2,10,20,20,11,23]
num_set = set(num)
print(num_set)

{1, 2, 10, 11, 20, 23}

In [58]:
alphabets = ["a","Sizan","b"]
alpha_set = set(alphabets)
print(alpha_set)

{'Sizan', 'b', 'a'}

In [59]:
#Adding and removing items in a set
"""
for additing values or items
----------------------------
add()
for removing
-------------
remove(),descard()
"""

'\nfor additing values or items\n----------------------------\nadd()\nfor removing\n-------------\nremove(),descard()\n'

In [67]:
person = {"Sizan","Ram","Krishna"}
person.add("Hari")
print(person)

{'Ram', 'Sizan', 'Krishna', 'Hari'}

In [69]:
person.remove("Hari")
print(person)

{'Ram', 'Sizan', 'Krishna'}

In [75]:
person.discard("Ram")
person

{'Krishna', 'Sizan'}

In [81]:
num = {1,2,3,4,5,6,7}
num.add(58)
num

{1, 2, 3, 4, 5, 6, 7, 58}

In [83]:
#Union,Intersection and Difference

In [87]:
num1 = {1,2,3,4,5,6,7}
num2 = {5,6,7,8,9,10}
print(f"The union is:{num1.union(num2)}")
print(f"\nThe intersection is:{num1.intersection(num2)}")
print(f"\nThe difference is:{num1.difference(num2)}")

The union is:{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

The intersection is:{5, 6, 7}

The difference is:{1, 2, 3, 4}