In [ ]:
#INput function
firstname = input("Enter your first name:")
print(firstname)

In [1]:
#integer input
number = int(input("Enter a number"))
print(number)

Enter a number 10

10

In [7]:
#floAT input
number = float(input("Enter your number"))
print(number)

Enter your number 10

10.0

In [17]:
#full name of a person
firstname = input("Enter first name:")
secondname = input("Enter second name:")
#age = int(input("Enter age:"))
#address = input("Enter address:')
print(firstname + " " + secondname)

Enter first name: Sizan
Enter second name: Raut

Sizan Raut

In [23]:
#demo

firstname = input("Enter first name:")
secondname = input("Enter second name:")
print("My name is" + " " + firstname + " " + secondname +".")

Enter first name: Sizan
Enter second name: Raut

My name is Sizan Raut.

In [33]:
#f_string
firstname = input("Enter first name:")
secondname = input("Enter second name:")
age = int(input("Enter age:"))
address = input("Enter address:")
print(f"My name is {firstname} {secondname}.I am {age} years old and i live in {address}")

Enter first name: Sizan
Enter second name: Raut
Enter age: 21
Enter address: Baneshwor

My name is Sizan Raut.I am 21 years old and i live in Baneshwor

In [37]:
#Type casting
#checks datatype of a certain variable

type(firstname)

str

In [47]:

no = 5
type (no)

In [49]:
#converting interger into float
fno = float(no)

In [51]:
type(fno
    )

float

Operators

In [54]:
#Arithmetic operators +,-,/,*

#float division = //
#power = **

In [58]:
#comparison operators
#== comparison similar
#> greater 
#< smaller
#<= small or equal to
#>= greater or equal to
#!= not equal to

In [60]:
#Logical operators
# and,or,not

In [64]:
#float divison excludes the value after decimal
a= 5
b = 2
div = a//b
print(div)

2

comparison operators

In [5]:
#AND use case
num = 5
a = "Hello"
c = a=="Hello" and num ==5
print(c)

True

In [9]:
#OR use case
num = 5
a = "Hello"
c = a=="Hello" or num ==4
print(c)

True

Control Structures

In [12]:
#Statement
#IF
#IF-elif
#if-elif-else
#nested if

#Loops 
#For loop,while loop and for else

In [27]:
#if statement
temp = int(input("Enter temperature in celcius:"))
if (temp > 30) :
    print("Its hot today.")
elif temp == 30:
    print("Its average ")
else:
    print("Its cold today.")

Enter temperature in celcius: 35

Its hot today.

In [44]:
#demo
marks = int(input("Enter your marks:"))
if (marks > 100):
    print("Invalid")
elif (marks >=90 and marks<=100):
    print("A+")
elif (marks >= 80 and marks <90):
    print("A")
elif (marks >= 70 and marks <80):
    print("B+")
elif (marks >= 60 and marks <70 ):
    print("B")
elif (marks >= 50 and marks <60 ):
    print("C+")
elif (marks >= 40 and marks <50 ):
    print("C")
elif ( marks <40 ):
    print("NG")


else:
    print("fail")

Enter your marks: 101

Invalid

In [60]:
#demo 1
#input marks of 5 subject
#calculate total and average
#print grade as well on the basis of average
maths_marks = float(input("Enter your marks for Maths:"))
science_marks = float(input("Enter your marks for Science:"))
computer_marks = float(input("Enter your marks for Computer:"))
english_marks = float(input("Enter your marks for English:"))
nepali_marks = float(input("Enter your marks for Nepali:"))
total = maths_marks + science_marks + computer_marks + english_marks + nepali_marks
print(f"\n total marks:",total)
avg_marks = (total)/5
print(f"\n average marks:",avg_marks)
if (avg_marks > 100):
    print("Invalid")
elif (avg_marks >=90 and avg_marks<=100):
    print("A+")
elif (avg_marks >= 80 and avg_marks <=89.9):
    print("A")
elif (avg_marks >= 70 and avg_marks <=79.9):
    print("B+")
elif (avg_marks >= 60 and avg_marks <=69.9 ):
    print("B")
elif (avg_marks >= 50 and avg_marks <=59.9 ):
    print("C+")
elif (avg_marks >= 40 and avg_marks <=49.9 ):
    print("C")
elif (avg_marks <40 ):
    print("NG")
else:
    print("fail")

Enter your marks for Maths: 100
Enter your marks for Science: 100
Enter your marks for Computer: 100
Enter your marks for English: 100
Enter your marks for Nepali: 100

 total marks: 500.0

 average marks: 100.0
A+