#Function

In [2]:
#to define a function we use a key word "def"
#There are two type of functions in python one with parameter and arguments and vice versa
#An example of non-parameterised function
def greet():
    return"hello world"
greet()

'hello world'

In [3]:
#parameterised function
def welcome(name):
    print(f"welcome {name}")
welcome("Sizan")

welcome Sizan

In [4]:
def add(a,b):
    return a + b
add(5,10)

15

#Default argument and Keyword argument

In [6]:

def person(name,age,address):
    print(f"I am {name}.I am {age}years old and i live at {address}")
person("Ram",20,"Baneswor")

I am Ram.I am 20years old and i live at Baneswor

In [7]:
#Default argument
def person(name = "Sizan",age="18",address="Nepal"):
    print(f"I am {name}.I am {age}years old and i live at {address}")
person()

I am Sizan.I am 18years old and i live at Nepal

In [8]:
def validator(email="please enter your email ",password="please enter your password"):
    print(f"your email:{email}.\n your password:{password}")
validator()

your email:please enter your email .
 your password:please enter your password

In [9]:
def employees(name,department,salary,bonus):
    print(f"Name of employee is:{name}\nDepartment:{department}\nsalary:{salary}\nbonus:{bonus}")
employees("Ram","Sales",20000,"10%")

Name of employee is:Ram
Department:Sales
salary:20000
bonus:10%

In [10]:
#keyword argument
employees("Sales","Ram","sizan",1000)

Name of employee is:Sales
Department:Ram
salary:sizan
bonus:1000

In [11]:
employees(department = "sales",name="Ram",bonus = "10%",salary = 30000)

Name of employee is:Ram
Department:sales
salary:30000
bonus:10%

In [12]:
#Recursion
#nested function and lambda
#*args(argument) and **kwargs(keyword argument)
#local and global

Lambda

In [14]:
#syntax
#function = lambda arguments : expression
add = lambda a,b : a + b
print(add(1,2))

3

*args

In [45]:
def car(car_name,*args):
    print("Name of car is",car_name)
    
    for detail in args:
        print(detail)

In [47]:
car("Hyundai","Creta",1992)

Name of car is Hyundai
Creta
1992

Keyword arguments

In [61]:
def car(car_name,**details):
    print("Name of car is",car_name)
    
    for key,value in details.items():
        print(f"{key}:{value}")
car("Honda", model = "city",buildyear = 1992)

Name of car is Honda
model:city
buildyear:1992

In [72]:
def student_details(**details):
    for key,value in details.items():
        print(f"{key}:{value}")
student_details(name="Ram",gender = "M", address ="baneswor",phone =989899898)

name:Ram
gender:M
address:baneswor
phone:989899898

#Recursion

In [79]:
#countdown
def countdown(n):
    if n == 6:
        return
    else:
        print(n)
        countdown(n+1)
countdown(1)

1
2
3
4
5

#Nested function

In [85]:
def calculate(a,b):
    def add(a,b):
        return a+b
    def substract(a,b):
        return a-b
    def multiply(a,b):
        return a + b
    def divide(a,b):
        return a/b
    return add(a,b), substract(a,b), multiply(a,b), divide(a,b)
result = calculate(1,2)
print("sum is:",result[0])
print("diffrence is:",result[1])
print("product is:",result[2])
print("divide  is:",result[3])

sum is: 3
diffrence is: -1
product is: 3
divide  is: 0.5