#Function

In [4]:
#to define a function we use a key word "def"
#There are two type of functions in python one with parameter and arguments and vice versa
#An example of non-parameterised function
def greet():
    return"hello world"
greet()

'hello world'

In [6]:
#parameterised function
def welcome(name):
    print(f"welcome {name}")
welcome("Sizan")

welcome Sizan

In [10]:
def add(a,b):
    return a + b
add(5,10)

15

#Default argument and Keyword argument

In [15]:

def person(name,age,address):
    print(f"I am {name}.I am {age}years old and i live at {address}")
person("Ram",20,"Baneswor")

I am Ram.I am 20years old and i live at Baneswor

In [19]:
#Default argument
def person(name = "Sizan",age="18",address="Nepal"):
    print(f"I am {name}.I am {age}years old and i live at {address}")
person()

I am Sizan.I am 18years old and i live at Nepal

In [23]:
def validator(email="please enter your email ",password="please enter your password"):
    print(f"your email:{email}.\n your password:{password}")
validator()

your email:please enter your email .
 your password:please enter your password

In [27]:
def employees(name,department,salary,bonus):
    print(f"Name of employee is:{name}\nDepartment:{department}\nsalary:{salary}\nbonus:{bonus}")
employees("Ram","Sales",20000,"10%")

Name of employee is:Ram
Department:Sales
salary:20000
bonus:10%

In [29]:
#keyword argument
employees("Sales","Ram","sizan",1000)

Name of employee is:Sales
Department:Ram
salary:sizan
bonus:1000

In [31]:
employees(department = "sales",name="Ram",bonus = "10%",salary = 30000)

Name of employee is:Ram
Department:sales
salary:30000
bonus:10%

In [ ]:
#Recursion
#nested function and lambda
#*args(argument) and **kwargs(keyword argument)
#local and global