#Loops

#For loop

In [3]:
#Syntax
#for (variable) in range(start,stop(n-1),step):
#print(variable)
for a in range (1,11,2):
    print(a)

1
3
5
7
9

In [4]:
a = "Sizan"
for i in a:
    print(i)

S
i
z
a
n

In [5]:
#Syntax for iterating over a list
#for variable in list:
#print(variable)

list_of_foods = ["momo","pizza","burger"]
for i in list_of_foods:
    print(i)

momo
pizza
burger

In [6]:
list_of_foods = ["momo","pizza","burger"]
for i in list_of_foods:
    print(i)
    for j in i:
        print (j)

momo
m
o
m
o
pizza
p
i
z
z
a
burger
b
u
r
g
e
r

In [7]:
#iterating over a tuple
num = (1,2,3,4,5)
for a in num:
    print (a)

1
2
3
4
5

In [8]:
for i in range(1,101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
sum = 0
for i in range(1,11):
    sum = sum + i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [10]:
sum = 0
for i in range(1,11):
    sum += i
print(f"The total sum is:",sum)

The total sum is: 55

In [11]:
#print multiples of a num usinf for loop
num = int(input("Enter a number:"))
product = 1
for num in range(1,11):
    for i in range(1,11):
        product = num * i
        print(f"{num}*{i}={product}" )

Enter a number: 1

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [12]:
#print multiples of a num usinf for loop
num = int(input("Enter a number:"))
product = 1
for i in range(1,11):
    product = num * i
    print(f"{num}*{i}={product}" )

Enter a number: 1

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

While loop(used when certain condition is given and run till the condition is true)

In [14]:
#Syntax
#while condition:
 #   code...

In [15]:
a = 1
while a <= 10:
    print (a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a = 1
while a <= 10:
    if a % 2 == 0:
    print(a)
    a = a + 1

In [ ]:
a = 1
sum = 0
while a <=10:
    sum = sum + a
    print(sum)